@media (max-width: 425px) {
    main .personagem .imagem {
        height: auto;
    }

    .conteudo {
        position: relative; /* Garante que o posicionamento funciona */
        top: auto;           /* Remove deslocamento vertical */
        padding: 20px;
    }

    .botoes {
        position: relative; /* Garante que fique abaixo do conteúdo */
        padding: 20px;
        top: auto;
        display: flex;
        justify-content: center;
        gap: 10px; /* Dá um espacinho entre os botões */
    }

    .botoes .botao {
        width: 50px;
        height: 50px;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}
